<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @{
        ViewData["Title"] = "Register";
    }
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/fontawesome-all.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/iofrm-style.css">
    <link rel="stylesheet" type="text/css" href="~/css/iofrm-theme8.css">
    <link rel="stylesheet" type="text/css" href="css/iofrm-theme18.css">
</head>
<body>





    @RenderBody()

@section Scripts{ 
    <script src="/js/log/jquery.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/log/bootstrap.min.js"></script>
    <script src="/js/log/main.js"></script>
    <script src="/js/log/prettify.js"></script>
    }

    @RenderSection("Scripts", required: false)

</body>
</html>
