
@{
    ViewData["Title"] = "Demolition";
}

<section class="no-bg-color-parallax parallax-black theme-section">
    <div class="bg-section bg-cover" style="background-image: url(media/paralax/paralax1.png)"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h3 class="text-uppercase paralax-header"> TECHNICAL ANALYSIS</h3>
            </div>
            <div class="col-lg-6">
                <ol class="breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li><a href="#"> Our Services </a></li>
                    <li class="active">Technical Analysis</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<main class="main-content">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-3">
                <aside class="sidebar animated " data-animation="fadeInLeft">

                    <!-- ARCHIVE WIDGET -->

                    <div class="widget widget-category cms-category-list">
                        <div class="block_content">
                            <ul class="category-list unstyled clearfix">
                                <li><a href="#"><i class="fa fa-long-arrow-right"></i>All  Products</a></li>
                                <li><a href="#"><i class="fa fa-long-arrow-right"></i>Hand Tools</a></li>
                                <li><a href="#"><i class="fa fa-long-arrow-right"></i>Air Compressors</a></li>
                                <li><a href="#"><i class="fa fa-long-arrow-right"></i>Drills</a></li>
                                <li><a href="#"><i class="fa fa-long-arrow-right"></i>Power Tools</a></li>
                                <li><a href="#"><i class="fa fa-long-arrow-right"></i>Flashlights & Portable Lights</a></li>
                                <li><a href="#"><i class="fa fa-long-arrow-right"></i>Fastener Tools</a></li>
                            </ul>
                        </div>
                    </div>

                    <!-- ARCHIVE WIDGET -->

                    <div class="widget widget-products">
                        <h3 class="widget-title">FEATURED PROJECT</h3>
                        <div class="block_content">
                            <img src="media/268x200/1.jpg" alt="img">
                            <p>&nbsp; </p>
                            <p>
                                Phasellus commodo libero Vivamus sed dolor. Quisque portitor leo as vitae tincid
                                un rutrum urna turpis.
                            </p>
                            <a href="#" class="btn-link">VIEW DETAILS</a> <a href="#" class="btn-download"><i class="fa fa-file-pdf-o"></i>DOWNLOAD CASE STUDY</a> <a href="#" class="btn-download"><i class="fa fa-file-pdf-o"></i>DOWNLOAD BROCHURE </a>
                        </div>
                    </div>


                    <!-- SEARCH WIDGET -->

                </aside>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-9 ">
                <div class="row">
                    <div class="col-md-offset-2 col-md-8">
                        <header class="section-header animated  animation-done fadeInUp" data-animation="fadeInUp">
                            <div class="heading-wrap">
                                <h2 class="heading"><span>We Follow New Qaulity Standards</span></h2>
                            </div>
                        </header>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <p class="text-center animated after-heading-info  animation-done fadeInUp" data-animation="fadeInUp"> Sed tempus tempor orc mauris viverra nunc diams</p>
                    </div>
                    <div class="col-md-3"></div>
                </div>
                <hr class=" separator_20">
                <a href="media/865x300/1.jpg" class="magnific"> <img src="media/865x300/1.jpg" width="866" height="299" alt="img" class="img-responsive"></a>
                <p>&nbsp; </p>
                <p>Vivamus elementum laoreet lorem maecen as er felis sed mollis semper lobortis vitae phasellus commodo libero Vivamus sed dolor. Quisque portitor leo as vitae tincidun rutrum urna turpis.  Donec facilisis. Nunc euismod. Suspendisse potenti. Nullam at ante.Morbi consequat lobortis eros. Phasellus vehicula auctor nisi. Donec vestibulum odio. Morbi ut risus nec orci bibendum commodo. Pellentesque id lacus in velit porttitor laoreet. Nullam accumsan lacus a posuere dictum ante nunc tincidunt leo eget.</p>
                <p>
                    Ultrices justo leo ullamcorper turpis. Nulla facilisi. Vestibulum libero tortor porta ut pretium aliquam at lacus. Duis magna mauris tincidunt
                    eu tincidunt in egestas vitae turpis. Mauris nec sem. Suspendisse ultrices ipsum non nisi. In hac habitasse platea dictumst. Etiam id augue ed aliquet dictum turpis. Aenean asun odio sed ipsum.
                </p>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 ">
                        <section role="main">
                            <div class="row">
                                <div class="col-xs-12 col-sm-6  col-md-6 ">
                                    <div class="box-2">
                                        <div class="media"> <a href="#"><img src="media/420x180/1.jpg" alt="alt" class="img-responsive"></a></div>
                                        <a class="box-2-title" href="#">PROCESS CONTROL </a>
                                        <div class="box-2-content">
                                            <div class="box-2-text">
                                                <p> Vivamus elementum laoreet lorem maecen as er felis sed mollis semp elobortis vitae phas ellus commodo libero vamus sed dolor. Quisque por titor leo as vitae tincidun rutrum urn turpis. Proin eget dolor. Curabitur laoreet convallis nisl estibulum ac diam..</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6  col-md-6 ">
                                    <div class="box-2">
                                        <div class="media"> <a href="#"><img src="media/420x180/2.jpg" alt="alt" class="img-responsive"></a></div>
                                        <a class="box-2-title" href="#">REPORTING & MANAGEMENT </a>
                                        <div class="box-2-content">
                                            <div class="box-2-text">
                                                <p> Vivamus elementum laoreet lorem maecen as er felis sed mollis semp elobortis vitae phas ellus commodo libero vamus sed dolor. Quisque por titor leo as vitae tincidun rutrum urn turpis. Proin eget dolor. Curabitur laoreet convallis nisl estibulum ac diam..</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-sm-6  col-md-6 ">
                                    <div class="box-2">
                                        <div class="media"> <a href="#"><img src="media/420x180/3.jpg" alt="alt" class="img-responsive"></a></div>
                                        <a class="box-2-title" href="#">SERVICE BROCHURE </a>
                                        <p> <a href="#" class="btn btn-link ">DOWNLOAD  PDF</a></p>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6  col-md-6 ">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-6  col-md-6 "> <img src="media/420x180/11.jpg" class="img-responsive" alt="img"> </div>
                                        <div class="col-xs-12 col-sm-6  col-md-6 "> <img src="media/420x180/12.jpg" class="img-responsive" alt="img"> </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

