*@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewData["Title"] = "Demolition";

}

<section class="no-bg-color-parallax parallax-black theme-section">
    <div class="bg-section bg-cover" style="background-image: url(~/media/paralax/paralax1.png)"></div>
    <div class="container" >
        <div class="row">
            <div class="col-lg-6">
                <h3 class="text-uppercase paralax-header"> Demolition Services</h3>
            </div>
            @*<div class="col-lg-6">
                    <ol class="breadcrumb2">
                        <li><a href="#">Home</a></li>
                        <li><a href="#"> Our Services </a></li>
                        <li class="active">Junk Removal</li>
                    </ol>
                </div>*@
        </div>
    </div>
</section>
<main class="main-content">
    <div class="container">
        <div class="row" >
            
           


                <hr class=" separator_20">
                <a href="/media/865x300/1.jpg" class="magnific"> <img src="/media/865x300/1.jpg" width="866" height="299" alt="img" class="img-responsive"></a>
                <p>&nbsp; </p>
                <p>
                    When you are looking for a company that can handle your demolition work at an affordable price, look no further than Maryland Junk Removal.
                    We work on residential, commercial and industrial demolition projects all the time.

                </p>
                <p>
                    We can remove as little as carpets and fixtures from a small apartment, to an entire strip mall teardown. Our professional and experienced
                    crews will complete your demolition project safely, efficiently and always on schedule, leaving you a safe and clean environment in return.
                    Our diverse fleet of trucks, allowing us to find the right one to suit your situation, makes our pricing better than our competitors.
                </p>
                <div>
                    <a href="#">Book An Appoinment </a>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 ">
                        <section role="main">
                            <div class="row">
                                <div class="col-xs-12 col-sm-6  col-md-6 ">
                                    <div class="box-2">
                                        <div class="media"> <a href="#"><img src="/media/420x180/2.jpg" alt="alt" class="img-responsive"></a></div>
                                        <a class="box-2-title" href="#">SHED REMOVAL </a>
                                        <div class="box-2-content">
                                            <div class="box-2-text">
                                                <p>
                                                    Outdoor Shed, Backyard Shed, Storage Shed, Garden Shed, Potting Shed,
                                                    Tool Shed, Tractor Shed, Bike Shed, Wood Shed, Metal Shed,
                                                    Plastic Shed, Vinyl Shed and any other type of shed you may have.
                                                    We will carefully demolish your outdoor storage shed from your
                                                    property and haul it away in our trucks.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*<div class="row">*@
                            <div class="col-xs-12 col-sm-6  col-md-6 ">
                                <div class="box-2">
                                    <div class="media"> <a href="#"><img src="/media/420x180/1.jpg" alt="alt" class="img-responsive"></a></div>
                                    <a class="box-2-title" href="#">HOT TUB REMOVAL </a>
                                    <div class="box-2-content">
                                        <div class="box-2-text">
                                            <p>
                                                We can  remove your hot tub, spa, jacuzzi from your patio, deck and roof.
                                                If it needs to be cut up in order to remove it, we can handle that, too. We can even handle
                                                it when it has to be removed from tight or difficult-to-reach places.

                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*</div>*@
                            @*<div class="row">*@
                            <div class="col-xs-12 col-sm-6  col-md-6 ">
                                <div class="box-2">
                                    <div class="media"> <a href="#"><img src="/media/420x180/1.jpg" alt="alt" class="img-responsive"></a></div>
                                    <a class="box-2-title" href="#">PRE RENOVATION DEMO</a>
                                    <div class="box-2-content">
                                        <div class="box-2-text">
                                            <p>If you plan to remodel a room or whole house we can take out the old so you can bring in the new.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*</div>*@
                        </section>
                    </div>
                </div>
            </div>
        
    </div>
</main>

