

@{
    ViewData["Title"] = "Junk";
}

<section class="no-bg-color-parallax parallax-black theme-section">
    <div class="bg-section bg-cover" style="background-image: url(/media/paralax/paralax1.png)"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h3 class="text-uppercase paralax-header"> JUNK REMOVAL SERVICES </h3>
            </div>
            @*<div class="col-lg-6">
                <ol class="breadcrumb2">
                    <li><a href="#">Home</a></li>
                    <li class="active">Our Services</li>
                </ol>
            </div>*@
        </div>
    </div>
</section>
<main class="main-content">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 ">
                <div class="row">
                    <div class="col-md-offset-3 col-md-6">
                        <header class="section-header animated  animation-done fadeInUp" data-animation="fadeInUp">
                            <div class="heading-wrap">
                                <h2 class="heading"><span>We Provide Qaulity Service</span></h2>
                            </div>
                        </header>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <p class="text-center animated after-heading-info  animation-done fadeInUp" data-animation="fadeInUp">
                            We offer junk removal services for your home or business.
                            We can provide No Contact Junk Removal service in most cases to give you an estimate and remove items without direct contact, to ensure 
                            the safety of our customers.  If you have old furniture, appliances, electronics, tires, 
                            construction debris, or yard waste you need to get rid of? Just give us a call.  WE can take away almost any material we can fit in our trucks,
                            without you ever lifting a finger. 
                         </p>
                    </div>
                    <div class="col-md-3"></div>
                </div>
                <div class="row">
                    <div class="col-xs-4 col-sm-4 col-md-4 ">
                        <div class="box-1">
                            <a class="box-1-title" href="#">Garage Cleanout </a>
                            <div class="media"> <a href="#"><img width="369" height="219" alt="alt" src="/media/junk/interior-of-an-empty-domestic-garage-QGFDQ2F.jpg"></a></div>
                            <div class="box-1-content">
                                <div class="box-1-text">
                                    <h5>Need more space? We’ll take care of all your household junk.</h5>
                                    <p>
                                        If you’ve got spaces in your home that you can’t use because they’re filled with unused items,
                                        it’s time to declutter your house. Maybe you can no longer park your car in the garage, or your 
                                        basement has become a storage area rather than an extra living space.
                                    </p>
                                </div>
                                @*<a class="btn btn-lg btn-read-more " href="/">READ MORE</a>*@
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 ">
                        <div class="box-1">
                            <a class="box-1-title" @*href="#"*@>Moving</a>
                            <div class="media"> <a href="#"><img width="369" height="219" alt="alt" src="/media/junk/moving-t-PL8QDJ7.jpg"></a></div>
                            <div class="box-1-content">
                                <div class="box-1-text">
                                    <h5>Why pay to move stuff you don’t need?</h5>
                                    <p> So you have an empty house and one, or many, purge piles laying around.
                                    You can either clean it all up yourself or call a junk removal company to do it for you.</p>
                                </div>
                                @*<a class="btn btn-lg btn-read-more " href="/">READ MORE</a>*@
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 ">
                        <div class="box-1">
                            <a class="box-1-title" @*href="#"*@>Renovation </a>
                            <div class="media"> <a href="#"><img width="369" height="219" alt="alt" src="/media/junk/panoramic-view-of-room-with-tools-ladder-and-lapto-D9C5Q3N.jpg"></a></div>
                            <div class="box-1-content">
                                <div class="box-1-text">
                                    <h5>Want to avoid the hassle of dumpster rental?</h5>
                                    <p>
                                        Pre & Post-Renovation Cleaning Service
                                        Whether it’s a whole new room, a quick update to a bathroom, or installing new 
                                        flooring in your kitchen, renovating your home can be a lot of work. While it’s 
                                        fun and exciting to build new things, it’s usually a lot less thrilling when you have to clean up.
                                    </p>
                                </div>
                                @*<a class="btn btn-lg btn-read-more " href="/">READ MORE</a>*@
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 ">
                        <section role="main">
                            <div class="row">
                                <div class="col-xs-4 col-sm-4 col-md-4 ">
                                    <div class="box-1">
                                        <a class="box-1-title" @*href="#"*@>Storage Cleanout</a>
                                        <div class="media"> <a href="#"><img width="369" height="219" alt="alt" src="/media/junk/green-storage-boxes-WL8Y6R3.jpg"></a></div>
                                        <div class="box-1-content">
                                            <div class="box-1-text">
                                                <h5>Have junk you need to make disappear? Let us take care of it.</h5>
                                                <p>If you need a hand with storage unit junk removal, we’re happy to help! </p>
                                            </div>
                                            @*<a class="btn btn-lg btn-read-more " href="/">READ MORE</a>*@
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-4 col-sm-4 col-md-4 ">
                                    <div class="box-1">
                                        <a class="box-1-title" @*href="#"*@>DISASTER </a>
                                        <div class="media"> <a href="#"><img width="369" height="219" alt="alt" src="/media/junk/vasco-sousa-i0OuU0VRJn8-unsplash.jpg"></a></div>
                                        <div class="box-1-content">
                                            <div class="box-1-text">
                                                <h5>Dealing with debris from a disaster?</h5>
                                                <p> you can call us or book online anytime to pick up any items that have been damaged by flooding, hurricanes, or fires.</p>
                                            </div>
                                            @*<a class="btn btn-lg btn-read-more " href="/">READ MORE</a>*@
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-4 col-sm-4 col-md-4 ">
                                    <div class="box-1">
                                        <a class="box-1-title" @*href="#"*@>Large Item Junk </a>
                                        <div class="media"> <a href="#"><img width="369" height="219" alt="alt" src="/media/junk/home-appliances.jpg"></a></div>
                                        <div class="box-1-content">
                                            <div class="box-1-text">
                                                <p> Mattresses, Refrigerators Disposal/Recycling, Televison's, Furnature removal, E Waste, Forecloser Clean Outs  .</p>
                                            </div>
                                            @*<a class="btn btn-lg btn-read-more " href="/">READ MORE</a>*@
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
       
    </div>
</main>